<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin-layout :: layout(~{:: #content})}">
<body>
<div id="content">

    <div class="container-fluid">

        <div class="app-content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Thêm câu hỏi (FAQ)</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Thêm FAQ
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="app-content">

            <form th:action="@{/admin/faqs/add}"
                  th:object="${faq}"
                  method="post">

                <div class="mb-3">
                    <label class="form-label">Nội dung Câu hỏi <span class="text-danger">*</span></label>
                    <input type="text"
                           th:field="*{question}"
                           class="form-control"
                           required>
                    <div class="text-danger"
                         th:errors="*{question}">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Thứ tự hiển thị (Level) <span class="text-danger">*</span></label>
                    <input type="number"
                           min="1"
                           th:field="*{level}"
                           class="form-control"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Nội dung Câu trả lời <span class="text-danger">*</span></label>
                    <textarea th:field="*{answer}"
                              class="form-control"
                              rows="6"
                              required></textarea>
                    <div class="text-danger"
                         th:errors="*{answer}">
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox"
                           th:field="*{active}"
                           class="form-check-input"
                           id="activeCheck">
                    <label class="form-check-label" for="activeCheck">
                        Hiển thị câu hỏi này trên giao diện
                    </label>
                </div>

                <div class="text-end">

                    <a th:href="@{/admin/faqs}" class="btn btn-secondary">
                        Quay lại
                    </a>

                    <button type="submit" class="btn btn-success px-4">
                        Thêm mới
                    </button>

                </div>

            </form>

        </div>

    </div>

</div>
</body>
</html>