<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout(~{:: #boxFAQ})}">

<body>

<div id="boxFAQ">

    <h2 class="text-center my-5 fw-bold">
        Câu hỏi thường gặp
    </h2>

    <div class="accordion accordion-flush rounded"
         id="faqAccordion">

        <div class="accordion-item bg-custom-card border-secondary"
             th:each="faq, stat : ${faqs}">

            <h2 class="accordion-header">

                <button class="accordion-button bg-custom-card text-white"
                        th:classappend="${!stat.first} ? ' collapsed'"
                        type="button"
                        data-bs-toggle="collapse"
                        th:data-bs-target="'#faq-' + ${faq.id}">

                    <span th:text="${faq.question}">
                        Câu hỏi
                    </span>

                </button>

            </h2>

            <div class="accordion-collapse collapse"
                 th:id="'faq-' + ${faq.id}"
                 th:classappend="${stat.first} ? ' show'"
                 data-bs-parent="#faqAccordion">

                <div class="accordion-body text-white"
                     th:utext="${faq.answer}">
                </div>

            </div>

        </div>

        <div th:if="${#lists.isEmpty(faqs)}"
             class="alert alert-info text-center">
            Chưa có câu hỏi thường gặp.
        </div>

    </div>

</div>

</body>
</html>