<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/user-layout :: layout(~{:: #boxMyBooking})}">

<body>

<div id="boxMyBooking" class="py-5">
    <div class="container mt-5">
        <h2>Lịch sử đặt phòng của bạn</h2>
        <hr>
        <table class="table table-hover shadow-sm bg-white rounded">
            <thead class="table-dark">
            <tr>
                <th>Phòng</th>
                <th>Ngày</th>
                <th>Thời gian</th>
                <th>Tổng người</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${bookingPage.empty}">
                <td colspan="5" class="text-center">
                    Chưa có dữ liệu
                </td>
            </tr>
            <tr th:each="booking : ${bookingPage}">
                <td th:text="${booking.room.name}">Tên phòng</td>
                <td th:text="${booking.bookingDate}">Ngày</td>
                <td th:text="${booking.startTime + ' - ' + booking.endTime}">Giờ</td>
                <td th:text="${booking.numAdult + booking.numKid}">Số người</td>
                <td>
                    <span th:classappend="${booking.status.name() == 'CONFIRMED' ? 'badge bg-success' : 'badge bg-warning'}"
                          th:text="${booking.status}">Status</span>
                </td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="mt-4" th:if="${bookingPage.totalPages > 0}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${bookingPage.first} ? 'disabled'">
                    <a class="page-link" th:href="@{/my-bookings(page=${bookingPage.number - 1})}">Trước</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0, bookingPage.totalPages - 1)}"
                    th:classappend="${i == bookingPage.number} ? 'active'">
                    <a class="page-link" th:href="@{/my-bookings(page=${i})}" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="${bookingPage.last} ? 'disabled'">
                    <a class="page-link" th:href="@{/my-bookings(page=${bookingPage.number + 1})}">Sau</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>