<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin-layout :: layout(~{:: #content})}">
<body>
<div id="content">

    <div class="container-fluid">

        <div class="app-content-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Danh sách người dùng</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item">
                            <a href="/admin/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách người dùng
                        </li>
                    </ol>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <a th:href="@{/admin/users/add}"
                   class="btn btn-primary">
                    + Thêm mới người dùng
                </a>

                <div class="col-md-3">
                    <form th:action="@{/admin/users}" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="Nhập thông tin cần tìm...">
                            <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i> Tìm kiếm</button>
                            <a th:if="${keyword != null && !keyword.isEmpty()}" th:href="@{/admin/users}" class="btn btn-outline-danger">Xóa lọc</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="app-content">

            <table class="table table-hover table-bordered align-middle">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th width="150">Thao tác</th>
                </tr>
                </thead>

                <tbody>

                <tr th:if="${users.empty}">
                    <td colspan="5" class="text-center">
                        Chưa có dữ liệu
                    </td>
                </tr>

                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>

                    <td>
                        <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                           class="btn btn-warning btn-sm">
                            Sửa
                        </a>

                        <form th:action="@{/admin/users/delete/{id}(id=${user.id})}"
                              method="post"
                              class="d-inline">

                            <button class="btn btn-danger btn-sm"
                                    onclick="return confirm('Xóa user này?')">
                                Xóa
                            </button>

                        </form>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav class="mt-3" th:if="${users.totalPages > 0}">
                <ul class="pagination">

                    <li class="page-item"
                        th:classappend="${users.first} ? 'disabled'">

                        <a class="page-link"
                           th:href="@{/admin/room-blocks(page=${users.number - 1})}">
                            Trước
                        </a>
                    </li>

                    <li class="page-item"
                        th:each="i : ${#numbers.sequence(0, users.totalPages - 1)}"
                        th:classappend="${i == users.number} ? 'active'">

                        <a class="page-link"
                           th:text="${i + 1}"
                           th:href="@{/admin/room-blocks(page=${i})}">
                        </a>

                    </li>

                    <li class="page-item"
                        th:classappend="${users.last} ? 'disabled'">

                        <a class="page-link"
                           th:href="@{/admin/room-blocks(page=${users.number + 1})}">
                            Sau
                        </a>

                    </li>

                </ul>
            </nav>

        </div>
    </div>

</div>
</body>
</html>